[submodule "t2-915-Munteanu-Tudor"]
	path = t2-915-Munteanu-Tudor
	url = https://github.com/cs-ubbcluj-ro/t2-915-Munteanu-Tudor.git
[submodule "t1-915-Munteanu-Tudor"]
	path = t1-915-Munteanu-Tudor
	url = https://github.com/cs-ubbcluj-ro/t1-915-Munteanu-Tudor.git
[submodule "e1-915-Munteanu-Tudor"]
	path = e1-915-Munteanu-Tudor
	url = https://github.com/cs-ubbcluj-ro/e1-915-Munteanu-Tudor.git
[submodule "a10-915-Munteanu-Tudor"]
	path = a10-915-Munteanu-Tudor
	url = https://github.com/cs-ubbcluj-ro/a10-915-Munteanu-Tudor.git
[submodule "a11-915-Munteanu-Tudor"]
	path = a11-915-Munteanu-Tudor
	url = https://github.com/cs-ubbcluj-ro/a11-915-Munteanu-Tudor.git
[submodule "a12-915-Munteanu-Tudor"]
	path = a12-915-Munteanu-Tudor
	url = https://github.com/cs-ubbcluj-ro/a12-915-Munteanu-Tudor.git
